header
{
    height: 50px;
    background-color: #ffdddd;
}
#wrapper
{
	overflow: hidden;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#main
{
    width: 34%;
    background-color: #ddffdd;
}
aside
{
    width: 33%;
    background-color: #ffddff;
}
footer
{
    height: 50px;
    background-color: #ddddff;
}
.clearfix::after {
    content: 'ここに.clearfix::afterが入ってる';
    display: block;
    clear: both;
}
/*overflow: hidden;*/
